/*Header Audrey*/
.nav {
  background: #80b238;
  color: #80b238;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 9%;
  top: 0;
  z-index: 100;
}

ul {
  display: flex;
  justify-content: space-around;
}

blockquote {
  margin: auto;
  padding: 7rem 0 2rem;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("/img/blue-splash.png");
  background-repeat: no-repeat;
  background-color: #80c1d6;
}

blockquote img {
  max-width: 620px;
  height: auto;
}

li:nth-child(odd):hover {
  transform: rotate(-6deg) scale(1.5);
  transition: 0.6s;
}

li:nth-child(even):hover {
  transform: rotate(6deg) scale(1.5);
  transition: 0.6s;
}

li:last-child {
  font-weight: bold;
}

a {
  font-size: 30px;
  color: white;
  font-family: "Atma", cursive;
  text-decoration: none;
  font-variant: small-caps;
}
/*Header Audrey*/

main h1 {
  font-family: Bangers;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: #ffffff;
}

div.damier {
  height: 3rem;
  width: calc(100% - 5rem);
  margin: auto;
  max-width: 55rem;
  display: block;
  background-image: linear-gradient(
      to right,
      var(--yellow) 50%,
      transparent 50%
    ),
    linear-gradient(to right, var(--yellow) 50%, transparent 50%);
  background-repeat: repeat-x;
  background-size: 3rem 1.5rem;
  background-position: left top, 1.5rem bottom;
}

button {
  display: flex;
  background-position: center center;
  background-attachment: fixed;
  background: url(img/submit_bg.png);
  background-repeat: no-repeat;
  border: none;
  color: #fff;
  font-family: Bangers;
  transform: rotate(5deg);
  font-size: 2em;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  padding: 60px 60px;
  align-self: center;
}

input[type="text"] {
  display: grid;
  border: 2px solid tomato;
  background: tomato;
  border-radius: 4px;
  padding: 20px 40px;
}

::placeholder {
  color: white;
  font-family: "Atma", cursive;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
  gap: 1.5rem;
  margin: auto;
  max-width: 600rem;
  width: calc(100% - 3rem);
}

main {
  background: #80c1d6;
}

/* Footer Hani */

footer {
  text-align: center;
  font-family: "Atma", cursive;
  background: #eef13f;
  max-width: 60rem;
  height: 100vh;
}

footer h2 {
  font-family: "Bangers", cursive;
}

footer img.kn {
  width: 150px;
  margin-top: -4rem;
}

/* Footer Hani */
